<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":48} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var(--wp--custom--spacing--large)","left":"var(--wp--custom--spacing--large)"}}}} -->
<main class="wp-block-group" style="padding-right:var(--wp--custom--spacing--large);padding-left:var(--wp--custom--spacing--large)">

    <!-- wp:heading {"textAlign":"center","fontSize":"huge"} -->
    <h2 class="has-text-align-center has-huge-font-size" id="404">404</h2>
    <!-- /wp:heading -->

</main><!-- /wp:group -->

<!-- wp:spacer {"height":48} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
