<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:spacer {"height":48} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->




<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dlarge)","left":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dlarge)"}}}} -->
<main class="wp-block-group" style="padding-right:var(--wp--custom--spacing--large);padding-left:var(--wp--custom--spacing--large)"><!-- wp:group -->
    
        <div class="wp-block-group">
        
            <!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"72px"}}}} /-->
        
            <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"48px"}}}} /-->
    
        </div><!-- /wp:group -->
        
        <!-- wp:post-content /-->
        
        <!-- wp:spacer {"height":48} -->
        <div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        
        <!-- wp:separator {"className":"is-style-wide"} -->
        <hr class="wp-block-separator is-style-wide"/>
        <!-- /wp:separator -->

        <!-- wp:spacer {"height":48} -->
        <div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        
        <!-- wp:comments-query-loop -->
        <div class="wp-block-comments-query-loop">
        
            <!-- wp:comment-template -->
        
            <!-- wp:comment-author-avatar {"style":{"border":{"radius":"50%"}}} /-->
            
            <!-- wp:comment-author-name {"isLink":true,"linkTarget":"_blank"} /-->
            
            <!-- wp:comment-date /-->
            
            <!-- wp:comment-content /-->
            
            <!-- wp:comment-reply-link /-->
            
            <!-- wp:comment-edit-link /-->

            <!-- wp:spacer {"height":48} -->
            <div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- /wp:comment-template -->

        </div><!-- /wp:comments-query-loop -->
        
        <!-- wp:post-comments-form /-->

</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
